In [6]:
# Create a list using []
# They are mutable
a = [1, 2 , 4, 56, 6]
print(a)

# Access using index using a[0], a[1], a[2]
print(a[2])

# Change the value of list using
a[0] = 98
print(a)

# We can create a list with items of different types
c = [45, "John", False, 4.9]
print(c)

[1, 2, 4, 56, 6]
4
[98, 2, 4, 56, 6]
[45, 'John', False, 4.9]

In [7]:
#Slicing

friends = ["Mathew", "Tom", "Rohan", "Sam", "Divya", 45]
print(friends[0:4])
print(friends[-4:])

['Mathew', 'Tom', 'Rohan', 'Sam']
['Rohan', 'Sam', 'Divya', 45]

In [8]:
#Important methods for lists

l1 = [1, 8, 7, 2, 21, 15]
print(l1)
l1.sort() # sorts the list
print(l1)
l1.reverse() # reverses the list
print(l1)
l1.append(45) # adds 45 at the end of the list
print(l1)
l1.insert(2, 544) # inserts 544 at index 2
print(l1)
l1.pop(2) # removes element at index 2
print(l1)
l1.remove(21) # removes 21 from the list
print(l1)

[1, 8, 7, 2, 21, 15]
[1, 2, 7, 8, 15, 21]
[21, 15, 8, 7, 2, 1]
[21, 15, 8, 7, 2, 1, 45]
[21, 15, 544, 8, 7, 2, 1, 45]
[21, 15, 8, 7, 2, 1, 45]
[15, 8, 7, 2, 1, 45]

In [9]:
# Creating a tuple using ()
# They are immutable

t = (1, 2, 4, 5)

t2 = () # Empty tuple
# t2 = (1) # Wrong way to declare a Tuple with Single element
t2 = (1,) # Tuple with Single element
print(t2)

# Printing the elements of a tuple
print(t[0])

# Cannot update the values of a tuple
# t[0] = 34 # throws an error

(1,)
1

In [10]:
#Some methods for tuples
t = (1, 2, 4, 5, 4, 1, 2,1 ,1)

print(t.count(1))
print(t.index(5))

4
3